<a href="https://colab.research.google.com/github/PenguinFeiFei/PythonDay/blob/main/PythonTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a & b)
print(a | b)

{'John'}
{'Jill', 'John', 'Jake', 'Eric'}

In [13]:
c = '66 114 101 97 107 65 76 76 67 84 70 123 65 109 118 48 117 68 121 101 114 118 80 116 109 86 114 57 83 83 83 75 125'

ans = ""

for x in c.split(' '):
  ans = ans + chr(int(x))

print(ans)

BreakALLCTF{Amv0uDyervPtmVr9SSSK}

In [9]:
import base64

target = 'IJZGKYLLIFGEYQ2UIZ5TS6BUHA2VMUZXO5UWS5CCLJMFKVLIJVSX2==='
decoded_data = base64.b32decode(target)

print(decoded_data)

b'BreakALLCTF{9x485VS7wiitBZXUUhMe}'

In [15]:
x = [1, 2, 3]
y = [1, 2, 3]
print(id(x), id(y))

print(x == y)
print(x is y)

140600448797344 140600449048976
True
False

In [17]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

for x in range(5):
    print(x)

for x in range(3, 6):
    print(x)

for x in range(3, 8, 2):
    print(x)

2
3
5
7
0
1
2
3
4
3
4
5
3
5
7